body{
	margin-left: 100px;
    margin-right: 100px;
    color: black;
    background-image:url(../bg6.jpeg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
{
	margin:  0;
	padding: 0;
	font-family: Century Gothic;
	font-size: 20px;
}

.title{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1 {
	
	font-size: 70px;

}
.container{
	 margin-top: 9rem ;
	 font-family: Century Gothic;
	 font-size: 20px;


}
.logo img{
	float: left;
	position: absolute; top: 85px; left: 200px;
	transform: translate(-80%,-80%);
	width: 150px;
	height: 60px;
}